<!-- //הצגת הנושא -->
<div dir="rtl">
    <div class="container">
        <div class="row">
            <div dir="rtl" class="col-md-6 col-lg-6" class="speech-bubble-subject">
                <div dir="rtl" class="row">

                   
                    <div class="col-md-6 col-lg-6 ">
                        <p> נכתב ע"י {{currentSubject.StoreName}} {{currentSubject.DatetimeOfWriting |date:' בתאריך: yyyy-MM-dd  בשעה: hh:mm ' }}</p>
                    </div>
                    
                    <div class="col-1-offset col-md-6 col-lg-6 ">
                        <span id="SubjectName">{{currentSubject.SubjectName}}</span>
                    </div>
                </div>

                <div class="contentOfTheMessage">
                    <span id="textOnTheSubject">{{currentSubject.Content}}</span>
                </div>
                <br />

                <div dir="rtl" class="row">
                    <div *ngIf="postExists" class="col-md-5 col-lg-5" >
                        <p> תגובה אחרונה {{currentSubject.latestDateOfAnswer|timeAgo}}  </p>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <input type="button" (click)="PostToAnswerSubject('post')" value="תגובה">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="postExists">
        <Ul *ngFor="let postt of GetlistOfPost(); let i=index;let votePlus='false';let voteMinus='false';" 
            [ngClass]="(i %2==0)?'speech-bubble-post-event':'speech-bubble-post-od'">
            <li>
                <hr>
                <div id="post">
                    <div class="row">
                       
                        <div class="col-md-8 col-lg-8">
                            <p>התקבל כתגובה מאת {{postt.StoreName}} {{postt.DatetimeOfWriting|timeAgo}}</p>
                        </div>
                        <div class="col-1-offset col-md-3 col-lg-3">
                            <h3> {{postt.Title}} </h3>
                        </div>
                    </div>
                    <div class="contentOfTheMessage">
                        <span id="textOnTheSubject">{{postt.ContentText}}</span> 
                        <!-- <textarea id="textOnTheSubject">{{postt.ContentText}}</textarea> -->
                   </div>
                   <p name="quantity">{{postt.numOfVotes}}</p>
                  
                </div>                                         
             </li>
        </Ul>
    </div>
</div> 
</div> 
                        <!-- <input type="number" id="quantity"  min="0" value="" oninput="votes(postt.PostID)">  -->
                        <!-- <div class="left">  -->
                            <!-- <input *ngIf="postt.vote" type="text" #commentToPost for="quantity" class="speech-bubble" placeholder="הכנס הערה לכותב הפוסט"> --> 
                           <!-- <button ng-click="!postt.votePlus&& votes(postt.numOfVotes+1,postt.PostID)||votePlus&& votes(postt.numOfVotes-1,postt.PostID)&&!votePlus"><i class="glyphicon glyphicon-minus">  </i></button>
                          {{postt.numOfVotes}}
                           <button  ng-click="!postt.voteMinus&& votes(postt.numOfVotes-1,postt.PostID)&&voteMinus=!voteMinus||voteMinus&& votes(postt.numOfVotes+1,postt.PostID)&&voteMinus=!voteMinus"> <i class="glyphicon glyphicon-plus">  </i> </button> -->
                        <!-- </div> -->