
body { height: 100%; 
  background-color:black !important ;
color: coral!important;}
.btn {
  background-color: #270B36;;
  padding: 20px 0;
  text-align: center;
  width: auto;
  height: 75px;
  font-style: oblique;
  color: #ecf0f1;
  font-size: 20px;color: #ecf0f1;
  padding: 20px 8px;
  // text-decoration: none;
}

.btn:hover {
  background: darkred;
  border:2px solid #4D0D35;
  color: dimgrey;
  
}
.list {
	position: absolute;
    left: 0;
	top: 30px;
	width: 250px;
	
}
.tr{
	border:#4D0D35 3px solid ;
}