<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-3" name="textForButton"><button id="btn1" class="button" (click)="ButtonClick()">{{textForButton}}</button></div>
  </div>
  <div class="row">
    <div class="col-md-2"><input type="date" [(ngModel)]="RangeForSearchDate1" name="RangeForSearchDate1"> </div>
    <div class="col-md-2"><input type="date" [(ngModel)]="RangeForSearchDate2" name="RangeForSearchDate2"> </div>
  </div>
</div>


<div class="file-upload">
  <div class="image-upload-wrap">
    <input class="file-upload-input" type="file" value=""  #file (change) = "onFileChange($event)" />
    <div class="drag-text">
      <h3>לחץ כאן להעלאת קבצים</h3>
    </div>
  </div>
  <div class="file-upload-content">
  </div>

 
  <div  *ngFor="let item of GetallBills() let i=index" class="CardStyle" data-font-size="12"
    data-font-size-type="px">
    <div id="7958441" class="CardRow ArrowDown KorotFile Point Open" tabindex="0" data-font-size="12"
      data-font-size-type="px">
      <div id="wrapDeatils" data-font-size="12" data-font-size-type="px">
        <div class="CardHeader" data-font-size="14" data-font-size-type="px">{{item.BillPath}}</div>
        <div data-font-size="12" data-font-size-type="px">{{item.BilDate}}</div>
      </div>
      <div class="Transition KorotOpt stopPropagation" data-font-size="12" data-font-size-type="px">
        <a href="{{item.BillPath}}" target="_blank"> <input type="button" value="צפה בקובץ" class="bttn"></a>
        <input type="button" value="מחק קובץ" (click)="delete(item.BillPath)" class="bttn red" />
      </div>
    </div>
  </div>
