body {
    // font-family: sans-serif;
    // background-color: #eeeeee;
    direction:rtl;

  }
  #myDate{
    display: inline;
  }
  //-----------/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border:1px solid #ecf0f1;
  background:#ecf0f1;
  padding:5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

//--------------------
html, body {
  height: 100%;
}

// .wrap {
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

#btn1 {
  min-width: 200px;
  min-height: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #c2254c;
background: linear-gradient(90deg, rgb(230, 129, 163) 0%, rgb(163, 38, 69) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(209, 15, 15, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

  #btn1::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #ce1717;
  box-shadow: 0 0 60px rgba(170, 12, 12, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

#btn1:hover, #btn1:focus {
  color: #313133;
  transform: translateY(-6px);
}

#btn1:hover::before, #btn1:focus::before {
  opacity: 1;
}

#btn1::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #ff0000;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

#btn1:hover::after, #btn1:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

//----------------
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed rgb(184, 89, 141);
    position: relative;
  }
  
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: rgb(184, 89, 141);
    padding: 60px 0;
  }
  


  

.MainPanelHeader {
  display: flex;
  justify-content: space-between;
}

.KorotFileSize{
position: absolute;
left: 2px;
top: 30px;
}

.KorotOpt {
height:0px;
padding:0px !important;
overflow:hidden;
}

.KorotFile.Open .KorotOpt {
height:32px !important;
padding:5px 0px !important;
}

.DefaultCVText {
color: red;
display: inline-block;
margin-right: 5px;
font-size: 12px;
}

.CardRow > #wrapDeatils {
padding-right: 40px;
position:relative;
}

.CardRow > #wrapDeatils:before {
content: "";
background-image: url(/images/topsargelicons/document_black.png);
display: block;
width: 30px;
height: 30px;
background-size: contain;
background-repeat: no-repeat;
position: absolute;
right: 4px;
background-position: center;
top: 0;
bottom: 0;
margin: auto;
}

.CardRow > #wrapDeatils .CardHeader {
padding: 3px 0;
}

@media only screen and (max-width:700px){
.CardRow.KorotFile {
  width:calc(100% - 20px);
  padding:10px;
}

.KorotOpt {
  display: flex;
  justify-content: space-around;
}

.KorotOpt > input {
  width: 33%;
  line-height: 100%;
}

#frmKorot {
  height: 500px !important;
}
}



/*==================================================*/
.bttn {
	text-decoration:none;
	cursor:pointer;
  position:relative;
  font-size:13px;
	padding:0 8px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	display:inline-block;
	outline:0;
	color:#444;
	background-color:#f5f5f5;
	background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image:-moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image:linear-gradient(top,#f5f5f5,#f1f1f1);
	border:1px solid #d9d9d9;
	border:1px solid rgba(0,0,0,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
  min-width:65px;
  text-align:center;
}

.red {
	color:#fff;
	background-color:#d14836;
	border:1px solid transparent;
	background-image:-webkit-linear-gradient(top,#dd4b39,#d14836);
	background-image:-moz-linear-gradient(top,#dd4b39,#d14836);
	background-image:linear-gradient(top,#dd4b39,#d14836);
}

