body,html{
}
.container{
border: solid rgb(117, 10, 10) 2px;
width: 500px;
text-align: center;
margin-top:  75px;
}
.container2{
    display: inline-block;

}
th{
    padding: 8px;
text-align: right;
}
#details{
    font-size: 2px;
}