<div *ngIf="opened>=0">
	<img [src]="path()"  width="242" height="363" alt="מאמר" >
</div>

<div *ngIf="head" class="container">
	<div class="row">
		<div class="col-md-1">

			<app-list-of></app-list-of>

		</div>
		<div class="col-md-11">
			<ul class="tilesWrap" *ngFor="let item of getArticles(); let i=index">
				<li>
					<h2>{{i+1}}</h2>
					<h3>{{item.sideText}}</h3>
					<p>
						{{item.ImportantText}}
					</p>
					<button (click)="read(i)">לקריאת המאמר</button>
				</li>
				 
			</ul> 
		</div>
	</div>
</div>



