body{
 
}
app-set-post-and-subject { float:left;width:100%;padding:5px;background:#ccc;}
      html, body {margin:0px; }
.row {width: 100%;}
.card {
  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: right;
    position:fixed;
    bottom: 0;
    z-index: 1;
    
    
    }
  //   app-set-post-and-subject .card .textarea {
  //     resize: none;
  //     width: 100%;
  // }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .contentOfTheMessage {
    transition: 0.1s;
    text-align: right;      
    border-radius: 10px;
    border: 2px solid #f8a8a8;;
    padding: 20px;

  }
 

  .contentOfTheMessage{ height:300px;}
  
  
  #btnSubmit
  {
   width: 200px;
  }
 
.second {border-radius: 8px;
background-color: rgb(243, 185, 179);}
.second {
  transition-duration: 0.4s;
}

.second:hover {
  background-color:rgb(250, 231, 228); /* Green */
  color: rgba(223, 51, 51, 0.432);
}