<div class="container" id="" class="card">
          
    <div class="row" >
 
        <!-- <div class = "buttonsforfrom" class="col-md-6 col-lg-6"> -->
          <span class="col-md-3 col-lg-3" style = "background-color: #f8a8a8">
            <input type="checkbox" #wantUpdate id="vehicle1" name="IfWantUpdate" >
            <p >{{wanttoUpdate}}</p>
            <input type="button" class = "second" (click)="cancel()" value="בטל">
        <!-- <div *ngIf="subjectOrPost=='subject'" > -->
            <input type="button"  *ngIf="subjectOrPost=='subject'" class = "second" (click)="submitSubject(SubjectOrPostName.value,wantUpdate.checked,Content.value)" value="שלח">
        <!-- </div> -->
        <!-- <div *ngIf="subjectOrPost=='post'" > -->
            <input type="button"  *ngIf="subjectOrPost=='post'"  class = "second" (click)="submitPost(SubjectOrPostName.value,wantUpdate.checked,Content.value)" value="שלח">
        <!-- </div> -->
        <div forname = "SubjectOrPostName">
        <input name ="SubjectOrPostName" #SubjectOrPostName value = "SubjectOrPostName" placeholder=" nbnbnb">
    </div>
          </span>
       
    </div>
   
    <div class="row">
        <span class="col-md-6 col-lg-6">
            <textarea #Content rows="12"  tabindex="4" dir="rtl"></textarea>
        </span>
    </div>
</div>